$primary-color: #eeeeee;

.intro {
    color: var(--primary-color);
    margin: auto;
    width: 1214px;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: Weird Words DEMO;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.designation-intro {
    margin: 0;
    font-size: 42px;
}

.designation {
    margin: 0;
    font-size: 80px;
}

.hero-description {
    font-family: Formular;
    
}