.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    border: 1px solid rgb(230, 230, 230);
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    background: none;
    inset:0px;
}

.app-cursor-inside {
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(241, 241, 241, 0.808);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
  }
  
  .dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
  }
  
  .ring .hovered {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-color: lightgray;
  }
  
  .dot .hovered {
    display: none;
  }
  