body {
  margin: 0;
}

/*  Lato | Formular | League Gothic | Weird Words DEMO | Montreuil Signature Font  */
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Formular';
  src: local('Formular'), url(./fonts/formular-regular-trial.otf) format('opentype');
}

@font-face {
  font-family: 'League Gothic';
  src: local('League Gothic'), url(./fonts/LeagueGothic-Regular-VariableFont_wdth.ttf) format('truetype');
}

@font-face {
  font-family: 'Weird Words DEMO';
  src: local('Weird Words DEMO'), url(./fonts/Weird\ Words\ DEMO.otf) format('opentype');
}

@font-face {
  font-family: 'Montreuil Signature Font';
  src: local('Montreuil Signature Font'), url(./fonts/Montreuil\ Font.otf) format('opentype');
}