body {
    margin: auto;
    background: #030303;
    color: #eeeeee;
}

.App {
    max-width: 1700px;
    margin: auto;
    cursor: none;
    // text-align: center;
}

* {
    cursor: none !important;
}

* ::-webkit-scrollbar {
    display: none;
}

// Or more specific:
body,
a,
button,
input,
textarea {
    cursor: none !important;
}